<h1>Template : <small>Dinamicos</small></h1>
<hr />
<form (ngSubmit)="guardar()" #miformulario="ngForm">
  <!---Input del nombre-->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        ngModel
        name="nombre"
        placeholder="nombre de la persona"
        minlength="1"
        required
      />
      <span class="form-text text-danger" *ngIf="Minlength()"
        >Este campo es obligatorio*</span
      >
    </div>
  </div>
  <!--input group de para agregar juegos favoritos-->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">juegos</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          type="text"
          [(ngModel)]="nuevo_juego"
          name="nuevo_juego"
          (keyup.enter)="agregar()"
          class="form-control"
        />
        <button
          type="button"
          (click)="agregar()"
          class="btn btn-outline-primary"
        >
          agregar
        </button>
      </div>
    </div>
  </div>
  <!---lista de juegos favoritos-->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div
        class="input-group mb-1"
        *ngFor="let item of persona.favoritos; let i = index"
      >
        <input
          type="text"
          [(ngModel)]="item.nombre"
          name="juego_{{ i }}"
          class="form-control"
          required
        />
        <button
          type="button"
          (click)="eliminar(i)"
          class="btn btn-outline-danger"
        >
          eliminar
        </button>
      </div>
    </div>
  </div>

  <!---Boton para guardar-->
  <div class="row">
    <div class="col-sm-12">
      <button
        type="button"
        class="btn btn-primary mt-2 float-end"
        (click)="guardar()"
        [disabled]="this.miformulario.invalid"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<div>
  <span>persona data</span>
  <pre>{{ persona | json }}</pre>
</div>
